.nav{
    background-color: #AA3939 !important;
}
nav a {
    color: #AA6C39 !important;
}
nav a:hover {
    color: white !important;
}
.block{
    background-color: black;
}
.block img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }